<!doctype html>

<html lang="en">

<head>

    <meta charset="UTF-8">

	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">     

	<meta content="yes" name="apple-mobile-web-app-capable">     

	<meta content="black" name="apple-mobile-web-app-status-bar-style">     

	<meta content="telephone=no" name="format-detection">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" > 

    <title>登录</title>

    <link rel="stylesheet" href="/index/css/gologin.css">

    <link href="/index/css/banneralert.css" rel="stylesheet" />

</head>

<body>

    <div class="content">

        <img src="/index/images/login.jpg" alt="">

        <div class="postform">

            <!--登录-->

            <div class="forms">

                <div class="inputs">
                 <!--账号-->
                    <div class="islogin">
                        <input type="text" name="acc" class="name" id="acc"><span class="log">
                        <img src="/index/images/me.png" style="" class="loogg"></span>

                    </div>
                    <!--暗文密码输入框-->
                    <div class="input_block" id="psw_invisible">
                        <span class="psw">
                        <img src="/index/images/pwd.png"  class="ppss"></span>
                         <img id="visible" onclick="showPsw()" src="/index/images/login_close2.png">
                        <input type="password" id="input_invisible" class="psw" name="password"/>
                    </div>
                    <!--明文密码输入框-->
                    <div class="input_block" id="psw_visible" style="display: none;">
                        <span class="psw">
                        <img src="/index/images/pwd.png" alt="" class="ppss">
                        </span>
                       <img id="invisible" onclick="hidePsw()" src="/index/images/login_eye.png">
                        <input type="text" id="input_visible" class="psw" name="password"/>
                    </div>
                </div>

             <div class="sub">
                    <button onclick="Manage.login()">登录</button>
                </div>
                <div class="zc">
  
   <span><a href="{:url('login/reg')}" >注册账号</a></span> 
    


                </div>

            </div>

        </div>

    </div>

</body>

</html>

<script src="/index/js/jquery-1.11.0.min.js" language="javascript"></script>

<script src="/index/js/banneralert.min.js" language="javascript"></script>

<script src="/index/js/example.js" language="javascript"></script>

<script src="/index/js/login.js" language="javascript"></script>
<script>
    function refreshVerify() {
        var ts = Date.parse(new Date())/1000;
        $('#verify_img').attr("src", "/index.php/captcha?id="+ts);
    }
</script>
