{include file="public/head" /}
    <div class="mainpanel">
    <div class="contentpanel">
      <ol class="breadcrumb breadcrumb-quirk">
        <li><a href="{:url('index/index')}"><i class="fa fa-home mr5"></i> 主页</a></li>
        <li><a href="{:url('User/index')}">代理管理</a></li>
        <li class="active">用户详情</li>
      </ol>
      <div class="panel">
          <div class="panel-heading">
          <h4 class="panel-title">用户详情<a href="{:url('User/ustwo',array('uid'=>$su['u_id']))}"><< 返回上一级用户</a></h4>
          <hr>
          <div class="row">
              <div class="col-md-3 profile-left">
                  <div class="panel panel-profile grid-view">
                      <div class="panel-heading">
                          <div class="text-center">
                              <h4 class="panel-profile-name">{$u.u_username}[{$u.u_nic}]</h4>
                              <p class="media-usermeta">合伙人</p>
                          </div>
                      </div>
                      <div class="panel-body people-info">
                          <ul class="list-group">
                              <li class="list-group-item btn btn-warning" onclick="agentLogin('{$u.u_id}')">一键跳转到用户界面</li>
                          </ul>
                          <div class="info-group">
                              <label>余额</label>
                              {$u.u_money}
                          </div>
                          <div class="info-group">
                              <label>待确认金额</label>
                              {$u.u_wqrmoney}
                          </div>
                          <div class="info-group">
                              <label>他自己的总佣金分成</label>
                              <?php echo $u['u_fcbl']*100;?>%
                          </div>
                          <div class="info-group">
                              <label>提取下级总佣金分成</label>
                              <?php echo $u['u_fcbl2']*100;?>%
                          </div>
                          <div class="info-group">
                              <label>提取下下级总佣金分成</label>
                              <?php echo $u['u_fcbl3']*100;?>%
                          </div>
                          
                          <div class="info-group">
                              <label>邀请码</label>
                              {$u.u_code}
                          </div>
                          
                          <div class="info-group">
                              <label>上级用户</label>
                              {$su.u_username}
                          </div>
                          <div class="info-group">
                              <label>上上级用户</label>
                              {if $parent_parent}{$parent_parent.u_username}{/if}
                          </div>
                          <div class="info-group">
                              <label>下级用户数量</label>
                              {$next_nums}
                          </div>
                          <div class="info-group">
                              <label>下下级用户数量</label>
                              {$next_next}
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-9 profile-right">
                  <div class="profile-right-body">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs nav-justified nav-line">
                          <li><a href="{:url('User/ustwo',array('uid'=>$uid))}"><strong>用户详情</strong></a></li>
                          {if condition="$fcbl.fc_power eq 1" /}
                          <li {if $type==1}class="active"{/if}><a href="{:url('User/usu',array('uid'=>$uid,'type'=>1))}"><strong>下级用户</strong></a></li>
                          <li {if $type==2}class="active"{/if}><a href="{:url('User/usu',array('uid'=>$uid,'type'=>2))}"><strong>下下级用户</strong></a></li>
                          {/if}
                          <li><a href="{:url('User/usdd',array('uid'=>$uid,'last'=>'1'))}"><strong>订单明细</strong></a></li>
                          <!--<li><a href="#places"><strong>Places (5)</strong></a></li>-->
                      </ul>
                      <!-- Tab panes -->
                      <style>
                          td{background: #f6f6f6!important;}
                          th{background: #f1f1f1!important;}
                      </style>
                      <div class="tab-content">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped-col dataTable">
                                  <thead>
                                  <tr>
                                      <th>用户帐号</th>
                                      <th>合伙人级别</th>
                                      <th>邀请码</th>
                                      <th>提取分成</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  {volist name="user" id="v"}
                                  <tr>
                                      <td><a href="{:url('User/ustwo',array('uid'=>$v.u_id))}">{$v.u_username}</a></td>
                                      <td>{if $type==1}下级合伙人{else}下下级合伙人{/if}</td>
                                      <td>{$v.u_code}</td>
                                      <td>
                                          {if $type==1}<?php echo $u['u_fcbl2']*100;?>%{/if}
                                          {if $type==2}<?php echo $u['u_fcbl3']*100;?>%{/if}
                                      </td>
                                  </tr>
                                  <tbody id="s{$v.u_id}"></tbody>
                                  {/volist}

                                  </tbody>
                              </table>
                              {$user->render()}
                              <br>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{include file="public/footer" /}
<script>
  var manage = {

}
/** 跳转到合伙人商界面**/
function agentLogin(agentId){
    var data    =   {agentId:agentId};
    var url     =   "{:url('user/agent_login')}";
    $.post(url, data, function(msg){
        //console.log(msg);
        if(msg.code == 200){
            window.open("{:url('index/login/index')}")
        }else{
            alert(msg.codeMsg);
        }
    }, "json");
}
</script>