html,body{margin:0px;padding:0px;height:100%;width:100%;background:#f76443;font-family: "Microsoft YaHei";}
a{text-decoration:none; outline:none; }
ul,li{list-style:none;}
p,ul,li,span,h3{margin:0;padding:0;}
input{outline: none}
input[type=button],input[type=text],input[type=password]{-webkit-appearance:none;outline:none}
input,button,select,textarea{outline:none}
textarea{resize:none}
textarea{resize:none;border: none;}
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0;)}

#back{position:fixed;right:0px;bottom:100px;width:18%;z-index:9999999;}
#ff{position:fixed;right:0px;bottom:100px;width:18%;z-index:9999999;}




.rank .pppai{width: 39%; position: relative; top: -8px; display: block; margin: 0 auto;}
.rank p{font-size:18px;line-height:40px;margin-bottom:1px;padding:5px 10px;border-bottom: 1px solid #eee; position: relative; }
.rank p .mi{width:22px;margin-top:10px;float:left;}
.rank .ss{width: 1px;height: 2.5rem;line-height: 2.5rem;vertical-align: middle;float: right;}


.bg{background: url(../images/rank.jpg) no-repeat center center;height:auto;background-size: cover;}
.rank{}
.rank h1{height: 62px;font-weight: normal;text-align: center;font-size: 1.2em;position: relative;top: -25px;line-height: 60px;color: #666666;margin: 0;padding:0;margin-bottom: -18px; position: relative; }



  .rank{   
    

       background: #fff;
    width: 90%;
    position: relative;
    top: 234px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 10px;
}
    .sp{text-align:center;background: url(../images/pai.png) no-repeat center center;height:100%;background-size: 50% 50%; }
@media screen and (min-width: 640px){
    .bg{width: 640px;margin: 0 auto;position: relative}
    html,body{background: #fff;}
    .rank {top: 355px;position: relative}
    #back {
    position: absolute;
    right: 0;
    bottom: 100px;
    width: 15%;
    z-index: 9999999;}
}